extends layout

block content
  h1 Генератор наклеек
  form(
     method='post'
     enctype='multipart/form-data'
  )
    div(class="mb-3")
      label(for="formFile" class="form-label") Выберите файл со списком товаров
      input(class="form-control" type="file" id="file" name="file")
    div(class="mb-3")
      button(type="submit" class="btn btn-wb") Сгенерировать наклейки
  p
  a(
    href='/files/template.xlsx'
  ) Шаблон для заполнения
  p 
  if err
    div.error
      h2 #{err.message}
      pre #{err.stack}